In [1]:
import numpy as np
import random

In [2]:
categories = list(range(18))
categories

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [3]:
X = []
y = []
for _ in range(1800):
    dummy_vec = np.random.rand(500)
    dummy_cat = random.sample(categories, 1)
    dummy_vec += dummy_cat
    y.append(dummy_cat)
    X.append(dummy_vec)

In [4]:
X = np.array(X)
y = np.array(y)

In [5]:
X.shape, y.shape

((1800, 500), (1800, 1))

In [6]:
import pandas as pd

In [7]:
data_df = pd.DataFrame(X)
target_df = pd.DataFrame(y)

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(data_df, target_df)

In [11]:
this_sc = StandardScaler()
this_sc.fit(X_train)
X_train = this_sc.transform(X_train)
X_test = this_sc.transform(X_test)

In [12]:
from sklearn.ensemble import RandomForestClassifier
this_rf = RandomForestClassifier()

In [13]:
this_rf.fit(X_train, y_train)

/opt/conda/envs/general_assembly_dsi/lib/python2.7/site-packages/ipykernel/__main__.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  if __name__ == '__main__':

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [14]:
this_rf.score(X_train, y_train), this_rf.score(X_test, y_test)

(1.0, 1.0)

In [15]:
data_df.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,14.165028,14.615896,14.830500,14.257994,14.714631,14.504669,14.280482,14.207411,14.452582,14.927469,...,14.943002,14.064252,14.268849,14.848634,14.195897,14.531722,14.090559,14.119092,14.506809,14.757699
1,12.855324,12.793917,12.729749,12.794930,12.747433,12.141552,12.230415,12.578012,12.211342,12.282486,...,12.732838,12.102681,12.962454,12.110202,12.879857,12.697156,12.366265,12.769213,12.304675,12.592168
2,15.007599,15.336407,15.219349,15.057727,15.265256,15.972216,15.355854,15.782001,15.371189,15.000644,...,15.020168,15.315965,15.877401,15.472820,15.093367,15.932183,15.488783,15.668009,15.864816,15.299576
3,4.131227,4.366987,4.851463,4.545104,4.367868,4.307612,4.090064,4.022943,4.395824,4.550006,...,4.964524,4.373641,4.704897,4.697002,4.035211,4.298097,4.244615,4.892160,4.992789,4.271837
4,1.880128,1.171934,1.218055,1.255744,1.911452,1.409456,1.327337,1.167314,1.657206,1.291948,...,1.344880,1.609038,1.556111,1.783266,1.703892,1.997117,1.127375,1.464958,1.843144,1.585227

In [16]:
target_df.head()

    0
0  14
1  12
2  15
3   4
4   1

In [17]:
data_df.to_pickle('data.pickle')

In [18]:
target_df.to_pickle('target.pickle')